 #map {
   position:fixed;
   top:0;
   bottom:0;
   width:100%;
   height:100%;
   margin-top: 50px;
}
#mapLoad {
  position:absolute;
  top:50%;
  left:50%;
  bottom:0;
  width:200px;
  padding: -10px -10px;
  overflow:auto;
  background:rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
.features {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:300px;
    overflow:auto;
    background:rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

// .features.ng-hide {
//   width: 0;
// }
// .features.ng-hide-add, .features.ng-hide-remove {
//   /* this is required as of 1.3x to properly
//      apply all styling in a show/hide animation */
//      -webkit-animation: slideOutRight 2s;
//       animation: slideOutRight 2s;
//   transition: 0s linear all;
// }
//
// .features.ng-hide-add-active,
// .features.ng-hide-remove-active {
//   /* the transition is defined in the active class */
//   -webkit-animation: slideOutRight 2s;
//    animation: slideOutRight 2s;
//   transition: 1s linear all;
// }
//
// .my-element.ng-hide-add {
//     -webkit-animation: slideOutRight 2s;
//      animation: slideOutRight 2s;
//  }
// // .my-element.ng-hide-add.ng-hide-add-active { ... }
// .my-element.ng-hide-remove {
//   -webkit-animation: slideOutRight 2s;
//    animation: slideInRight 2s;
//  }
// .my-element.ng-hide-remove.ng-hide-remove-active { ... }
